@font-face {
	font-family: 'Galvji';
	src: url('/assets/fonts/Galvji.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Galvji';
	src: url('/assets/fonts/Galvji-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'Galvji';
	src: url('/assets/fonts/Galvji-BoldOblique.ttf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Galvji';
	src: url('/assets/fonts/Galvji-Oblique.ttf');
	font-weight: normal;
	font-style: italic;
}

body {
	font-family: Galvji, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background-color: black;
	color: white;
}

h1 {
	font-family: Galvji, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
}